/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  //color: #fff;
  background-color: #F1F1F1;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.preview_thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}

*{
  font-family: 'Open Sans', sans-serif;
}


.bg_blur
{
  background-image: image_url("bg-large.jpg");
  height: 300px;
  background-size: cover;
}

.follow_btn {
  text-decoration: none;
  position: absolute;
  left: 35%;
  top: 42.5%;
  width: 35%;
  height: 15%;
  background-color: #007FBE;
  padding: 10px;
  padding-top: 6px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  border: 4px solid #007FBE;
}

.follow_btn:hover {
  text-decoration: none;
  position: absolute;
  left: 35%;
  top: 42.5%;
  width: 35%;
  height: 15%;
  background-color: #007FBE;
  padding: 10px;
  padding-top: 6px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  border: 4px solid rgba(255, 255, 255, 0.8);
}

.header{
  color : #808080;
  margin-left:10%;
  margin-top:70px;
}

.picture{
  height:150px;
  width:150px;
  position:absolute;
  top: 75px;
  left:-75px;
}

.picture_mob{
  position: absolute;
  width: 35%;
  left: 35%;
  bottom: 70%;
}

.btn-style{
  color: #fff;
  background-color: #007FBE;
  border-color: #adadad;
  width: 33.3%;
}

.btn-style:hover {
  color: #333;
  background-color: #3D5DE0;
  border-color: #adadad;
  width: 33.3%;

}


@media (max-width: 767px) {
  .header{
    text-align : center;
  }
  .nav{
    margin-top : 30px;
  }
}

/* image thumbnail */
.thumbnail {
  display: block;
  width: 100%;
  //height: 400px;
  margin: 0;
}

/* Style to article Author */
.by-author {
  font-style: italic;
  line-height: 1.3;
  color: #aab6aa;
}

/* Main Article [Module]
-------------------------------------
* Featured Article Thumbnail
* have a image and a text title.
*/

.featured-article {
  width: 482px;
  height: 350px;
  position: relative;
  margin-bottom: 1em;
}

.featured-article .block-image{
  width: 100%;
  max-height: 350px;
  border: 1px solid #000;
}

.featured-article .block-title {
  /* Position & Box Model */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  /* background */
  background: rgba(0,0,0,0.7);
  /* Width/Height */
  padding: .5em;
  width: 100%;
  /* Text color */
  color: #fff;
}

.featured-article .block-title h2 {
  margin: 0;
}

/* Featured Articles List [BS3]
--------------------------------------------
* show the last 3 articles post
*/

.main-list {
  padding-left: .5em;
}

.main-list .media {
  padding-bottom: 1.1em;
  border-bottom: 1px solid #e8e8e8;
}

/*
// Inspiration taken from Mike | Creative Mints
// - Dribbble.com page -> http://drbl.in/ghSU

Tried to keep it clean and documented. It's not absolutely perfect and I haven't tested it in many of the older browsers,
but I will try and tweak it when I see an issue or someone mentions it. Always love the work the designers over at Dribbble.com
put together. I wanted to attempt to mimic their photoshop work and provide some fun widgets for you Bootstrappers.

- Brian Moeller

*/

@font-face {
  font-family: 'weather';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*-- BS3 Modified Classes --*/
.panel {
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.panel-body {
  padding: 20px;
}
.panel-heading {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.panel-footer {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}


/*-- Common Use Classes --*/
.btn-ui {
  background-color: #E55F3A;
  border-color: #C54A28;
  color: #fff;
}
.btn-ui:hover {
  background-color: #E0624C;
  color: #fff;
}
.list-block {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border: none;
}
.list-block ul {
  display: table-row;
}
.list-block li {
  display: table-cell;
  margin: 0;
}

.list-block .block_thumb{
  height: 75px;
  width: 85px;
  //border: 1px solid #000;
  //margin: 10px 5px 0 0;
}

.pad-left-0 {
  padding-left: 0px;
}
.pad-right-0 {
  padding-right: 0px;
}
.mrg-btm-10 {
  margin-bottom: 10px;
}
.mrg-btm-20 {
  margin-bottom: 20px;
}

.panel-image-preview {
  width: 100%;
  height: 240px;
  border-radius: 4px 4px 0px 0px;
}

/*-- Profile Widget --*/
#profile-widget .panel-heading {
  min-height: 200px;
  //background: #fff url(http://4hdwallpapers.com/wp-content/uploads/2013/04/The-Lion-King-Desktop-1024x640.jpg) no-repeat top center;
  background-size: cover;
}
#profile-widget .media-heading {
  color: #5B5147;
}
#profile-widget .panel-body {
  padding: 20px;
}
#profile-widget .panel-body .img-circle {
  height: 90px;
  width: 90px;
  padding: 8px;
  border: 1px solid #e2dfdc;
}
#profile-widget .panel-footer {
  padding: 0px;
  border: none;
}
#profile-widget .panel-footer .btn-group .btn {
  border: none;
  font-size: 1.2em;
  background-color: #F6F1ED;
  color: #BAACA3;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 15px 0;
}
#profile-widget .panel-footer .btn-group .btn:hover {
  color: #F6F1ED;
  background-color: #8F7F70;
}
#profile-widget .panel-footer .btn-group>.btn:not(:first-child) {
  border-left: 1px solid #fff;
}
#profile-widget .panel-footer .btn-group .highlight {
  color: #E56E4C;
}

/*-- Weather Widget --*/
#weather-widget i {
  color: #fff;
  font-family: weather;
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}
#weather-widget .panel-heading {
  background-color: #55BC75;
  color: #fff;
  padding-bottom:20px;
}
#weather-widget #current {
  font-size: 4em;
  margin-bottom: -20px;
}
#weather-widget .panel-footer {
  background-color: #F5F0EC;
  padding: 20px;
  border: none;
}

/*-- Login Widget --*/
#login-widget .panel-body .input-group {
  margin-bottom: 15px;
}
#login-widget .panel-footer {
  padding: 0px;
  border: none;
}
#login-widget .panel-footer .login-btn {
  padding: 20px 20px 10px 20px;
}
#login-widget .panel-footer .facebook {
  background-color: #5F90B0;
  color: #fff;
  padding: 15px;
  display: block;
}



/*-- Pie Chart Widget --*/
#pie-chart-widget .panel-body {
  padding: 0px;
}
#pie-chart-widget .panel-footer {
  background-color: #fff;
  padding: 0px;
  margin-top: 20px;
}
#pie-chart-widget .panel-footer .btn {
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 20px 0px;
  color: #fff;
  background-color: #776B5F;
  border-top: 3px solid #6d6257;
}
#pie-chart-widget .panel-footer .btn:hover {
  background-color: #62584C;
  border-color: #52483F;
}
#pie-chart-widget h2 {
  font-weight: 700;
  margin: 3px 0 0 0;
}
#pie-chart-widget .legend li {
  background-color: #F5F0EC;
  padding: 20px 10px;
}
#pie-chart-widget .legend li:not(:first-child) {
  border-left: 1px solid #fff;
}
#pie-chart-widget .legend .video {
  border-top: 4px solid #4DAF7C;
}
#pie-chart-widget .legend .audio {
  border-top: 4px solid #EAC85D;
}
#pie-chart-widget .legend .photo {
  border-top: 4px solid #E25331;
}


/*-- Line Chart Widget --*/
#myLineChart {
  background-color: #55BC75;
  padding: 0px 5px;
  margin: 0px;
}
#myBarChart {
  margin-top: 10px;
}
#line-chart-widget .panel-heading {
  background-color: #55BC75;
  color: #fff;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#line-chart-widget .panel-heading small {
  color: #fff;
}
#line-chart-widget .panel-heading .label {
  background-color: rgba(0,0,0,0.1);
  padding: 5px;
}
#line-chart-widget .panel-body {
  padding: 0px;
}
#line-chart-widget .panel-footer {
  background-color: #fff;
  padding: 20px;
  margin-top: 0px;
  border-top: none;
}
#line-chart-widget .panel-footer li {
  padding: 10px 0;
}
#line-chart-widget h3 {
  font-weight: 700;
  margin: 0px;
}
#line-chart-widget li {
  width:50%;
}
#line-chart-widget .legend li {
  background-color: #F5F0EC;
  padding: 20px 0;
}
#line-chart-widget .legend li:not(:first-child) {
  border-left: 1px solid #fff;
}
#line-chart-widget .chart-block>div {
  margin-top: 20px;
  width:55%;
}
#line-chart-widget .chart-block>div:last-child {
  padding-left: 15px;
  width:45%;
}
#line-chart-widget .chart-block .change {
  color:#fff;
  font-size: 1.6em;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  background-color: #55BC75;
  width:100%;
}
#line-chart-widget .chart-block .change i {
  font-size: .6em;
}



/*-- Social Button Widget --*/
#social-widget {
  border: 0px;
}
#social-widget .btn:not(:first-child) {
  border-top: 1px solid #F5F0EC;
}
#social-widget .btn{
  background-color: #fff;
  border: 0px;
  padding:20px;
}
#social-widget .facebook .fa-circle {
  color: #5F90AE;
}
#social-widget .facebook:hover {
  background-color: #5F90AE;
}
#social-widget .pinterest .fa-pinterest {
  color: #D34F4D;
}
#social-widget .pinterest:hover{
  background-color: #D34F4D;
}
#social-widget .pinterest:hover .fa-pinterest{
  color: #fff;
}
#social-widget .twitter .fa-circle {
  color: #2AB5DE;
}
#social-widget .twitter:hover {
  background-color: #2AB5DE;
}



/*-- Navigation Widget --*/
#nav-widget {
  border: 0px;
  margin-bottom:20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
#nav-widget .btn-group:not(:first-child) {
  border-left: 1px solid #F5F0EC;
}
#nav-widget .btn{
  background-color: #fff;
  border: 0px;
  padding: 20px;
  font-weight: 600;
  border-bottom: 3px solid #fff;
}
#nav-widget .btn:hover {
  background-color: #F8F3F0;
  color: #64584C;
  border-bottom: 3px solid #55BC75;
}
#nav-widget i.fa {
  padding-right: 5px;
}
#nav-widget .badge {
  font-size: .7em;
  background-color: #E7663F;
  margin-left:4px;
  top: -10px;
}


/*-- User Widget --*/
#user-widget {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
#user-widget .list-group-item {
  border:0;
  color: #8F7F70;
  padding: 15px;
  border-left: 3px solid #fff;
}
#user-widget a.list-group-item:hover {
  background-color: #F8F3F0;
  color: #64584C;
  border-left: 3px solid #55BC75;
}
#user-widget a.list-group-item:hover i.fa {
  color: #E35935;
}
#user-widget .heading {
  color: #8F7F70;
  background-color: #B1A599;
  border-left: 3px solid #B1A599;
}
#user-widget .heading .text-wrap {
  padding: 20px 0;
}
#user-widget .img-circle {
  height: 90px;
  width: 90px;
  padding: 8px;
  border: 1px solid #9C9084;
  margin-right: 10px;
  float:left;
}
#user-widget .heading .list-group-item-heading {
  font-weight: 600;
  color: #fff;
}
